.subtitle-usuarios{
    display: inline-flex;
    max-block-size: inherit;
}
.row{
    position: absolute;
    right: 0px;
    padding-right: 10%;
    padding-left: 10%;;
}

.column {
    float: left;
    padding-left: 3%;
    padding-right: 3%;
    width: 45%;
}

/* Clear floats after the columns */
.modal-body:after {
    content: "";
    display: table;
    clear: both;   
  }



