.homeFooter{
    text-align: center;
}

.mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}
  
.mat-form-field {
    display: block;
}

.divInfoHome{
    padding-left: 10%;
    padding-right: 10%;
}

.homeContainer{
  padding: 15%;
  display:flex;
  flex-wrap:wrap;
}

.inner{
  margin:5px;
  flex:1;
  min-width:200px;
  padding:20px;
}