<div class="homeContainer">
   
            <div class="inner">
                <div class="divInfoHome">
                    <h2>Aplicación <br> OLSoftware</h2>
                    <p>Prueba práctica Front-end senior</p>
                </div>
            </div>
            <div class="inner">
                <div>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title style="text-align: center;">Inicio de sesión</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <form class="example-form">
                                <table class="example-full-width" cellspacing="0">
                                    <tr>
                                        <td>
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Usuario" [(ngModel)]="username"
                                                    name="username" required>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Contraseña" [(ngModel)]="password"
                                                    type="password" name="password" required>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button (click)="login()" color="primary">Login</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
 
</div>



<div class="homeFooter">
    OLSoftware - 2018
</div>